<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/base.css'%}" rel="stylesheet">
    <title>{% block title %}Rozetka Parser{% endblock %}</title>
  </head>
  <body>
    {% include 'inc/_navbar.html' %}
    <div class="row m-0">
      {% block content %}CONTENT{% endblock %}
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
  </body>
</html>
